<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to <%= title %><br></p>
    <button type="button" class="btn btn-primary" onclick="location.href='/user/login'">Signin</button>
    <button type="button" class="btn btn-light" onclick="location.href='/user/register'">Register</button>
  </body>
</html>
