<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <div class="sidenav">
      <div class="login-main-text">
        <h2>
          1tok1<br />
          Login
        </h2>
        <p>Login or register from here to access.</p>
      </div>
    </div>
    <div class="main">
      <div class="col-md-6 col-sm-12">
        <div class="login-form">
          <form>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" placeholder="Wmail" />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
            <% if (messages.error) { %>
              <div class="alert alert-danger" role="alert"><%- messages.error %></div>
              <% } %>
            <button type="button" class="btn btn-black" onclick="location.href='/home'">Login</button>
            <button type="button" class="btn btn-light" onclick="location.href='/user/register'">Register</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
